<a href="https://colab.research.google.com/github/ulrikSebastienR/2021-Coding-Basic/blob/main/outlier_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html
import pandas as pd
import numpy as np

In [ ]:
# Using standard deviation https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html
arr = [10, 386, 479, 627, 20, 523, 482, 483, 542, 699, 535, 617, 577, 471, 615, 583, 441, 562, 563, 527, 453, 530, 433, 541, 585, 704, 443, 569, 430, 637, 331, 511, 552, 496, 484, 566, 554, 472, 335, 440, 579, 341, 545, 615, 548, 604, 439, 556, 442, 461, 624, 611, 444, 578, 405, 487, 490, 496, 398, 512, 422, 455, 449, 432, 607, 679, 434, 597, 639, 565, 415, 486, 668, 414, 665, 763, 557, 304, 404, 454, 689, 610, 483, 441, 657, 590, 492, 476, 437, 483, 529, 363, 711, 543]
import numpy as np
a = [10, 386, 479, 627, 20, 523, 482, 483, 542, 699, 535, 617, 577, 471, 615, 583, 441, 562, 563, 527, 453, 530, 433, 541, 585, 704, 443, 569, 430, 637, 331, 511, 552, 496, 484, 566, 554, 472, 335, 440, 579, 341, 545, 615, 548, 604, 439, 556, 442, 461, 624, 611, 444, 578, 405, 487, 490, 496, 398, 512, 422, 455, 449, 432, 607, 679, 434, 597, 639, 565, 415, 486, 668, 414, 665, 763, 557, 304, 404, 454, 689, 610, 483, 441, 657, 590, 492, 476, 437, 483, 529, 363, 711, 543]
print(len(a),np.min(a),np.max(a),np.mean(a),np.std(a))
outliers = []
ll = np.mean(a)- np.std(a)
ul = np.mean(a)+ np.std(a)
print('lower limit=',ll,'upper limit=',ul)
'''for i in a:
    if i<ll or i>ul:
        outlier = i
        outliers.append(outlier)
        a.remove(outlier)
        #this code is also correct but the lower code is shorter'''
outlier = [i for i in a if i<ll]
#a = a.remove(i for i in a if i<ll)
outlier1 = [i for i in a if i>ul]
outliers = outlier + outlier1
print('outliers',outliers, len(outliers))
a1 = [i for i in a if i not in outliers]
#a1 = [i in a if i not in outliers]
print('array without outliers =', a1, len(a1), np.min(a1), np.max(a1))

94 10 763 509.531914893617 118.51857760182034
lower limit= 391.0133372917967 upper limit= 628.0504924954373
outliers [10, 386, 20, 331, 335, 341, 304, 363, 699, 704, 637, 679, 639, 668, 665, 763, 689, 657, 711] 19
array without outliers = [479, 627, 523, 482, 483, 542, 535, 617, 577, 471, 615, 583, 441, 562, 563, 527, 453, 530, 433, 541, 585, 443, 569, 430, 511, 552, 496, 484, 566, 554, 472, 440, 579, 545, 615, 548, 604, 439, 556, 442, 461, 624, 611, 444, 578, 405, 487, 490, 496, 398, 512, 422, 455, 449, 432, 607, 434, 597, 565, 415, 486, 414, 557, 404, 454, 610, 483, 441, 590, 492, 476, 437, 483, 529, 543] 75 398 627

In [1]:
#https://machinelearningmastery.com/model-based-outlier-detection-and-removal-in-python/
from sklearn.ensemble import IsolationForest
from sklearn import datasets
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LinearRegression

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'

df = pd.read_csv(url, header=None)
print(df.describe())
print(df.values.shape, df.values)

               0           1           2   ...          11          12          13
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]
(506, 14) [[6.3200e-03 1.8000e+01 2.3100e+00 ... 3.9690e+02 4.9800e+00 2.4000e+01]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 3.9690e+02 9.1400e+00 2.1600e+01]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 3.9283e+02 4.0300e+00 3.4700e+01]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 3.9690e+02 5.6400e+00 2.3900e+01]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 3.9345e+02 6.4800e+00 2.2000e+01]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 3.9690e+02 7.8800e+00 1.1900e+01]]

In [2]:
#separating X and y
X = df.iloc[:,:-1]
y = df.iloc[:, -1]
print("X",X,"y",y)

X           0     1      2   3      4   ...  8      9     10      11    12
0    0.00632  18.0   2.31   0  0.538  ...   1  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07   0  0.469  ...   2  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07   0  0.469  ...   2  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18   0  0.458  ...   3  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18   0  0.458  ...   3  222.0  18.7  396.90  5.33
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...   ...
501  0.06263   0.0  11.93   0  0.573  ...   1  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93   0  0.573  ...   1  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  7.88

[506 rows x 13 columns] y 0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: 13, Length: 506, dtype: float64

In [3]:
#removing outliers
iso = IsolationForest()
yhat = iso.fit_predict(X)
print(yhat)
#yhat = -1 are outliers
#remove all rows that are not outliers
mask = yhat != -1
print(mask)
#df = df[mask]
X, y = X.loc[mask,:], y.loc[mask]
print('X_masked', X, X.shape, 'y_masked',y, y.shape)

[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1 -1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1
 -1 -1 -1 -1 -1  1  1  1 -1 -1 -1 -1 -1  1  1  1 -1  1 -1 -1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1 -1  1  1 -1  1 -1  1 -1  1  1  1  1 -1  1  1  1  1 -1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1 -1  1 -1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1  1 -1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1  1
  1  1  1 -1 -1 -1  1 -1  1 -1 -1  1 -1  1 -1  1  1  1  1  1 -1  1  1  1
 -1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1 -1 -1  1  1
  1  1 -1  1 -1 -1 -1 -1  1 -1 -1  1  1  1  1  1 -1  1 -1 -1  1  1  1  1
  1  1  1  1  1 -1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1 -1 -1  1 -1  1  1  1  1  1  1  1  1  1  1  1
  1  1]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True False False False
 False False False False False  True  True  True False False False False
 False  True  True  True False  True False False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True False  True  True False  True False  True
 False  True  True  True  True False  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True False  True False  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False False  True False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False  True
  True  True  True False False False  True False  True False False  True
 False  True False  True  True  True  True  True False  True  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True False  True  True  True  True  True False False  True  True
  True  True False  True False False False False  True False False  True
  True  True  True  True False  True False False  True  True  True  True
  True  True  True  True  True False False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True False False  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True]
X_masked           0     1      2   3      4   ...  8      9     10      11    12
0    0.00632  18.0   2.31   0  0.538  ...   1  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07   0  0.469  ...   2  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07   0  0.469  ...   2  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18   0  0.458  ...   3  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18   0  0.458  ...   3  222.0  18.7  396.90  5.33
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...   ...
501  0.06263   0.0  11.93   0  0.573  ...   1  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93   0  0.573  ...   1  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  7.88

[439 rows x 13 columns] (439, 13) y_masked 0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: 13, Length: 439, dtype: float64 (439,)

In [4]:
#train_test_split
X_train, X_test = train_test_split(X, test_size=0.2)
y_train, y_test = train_test_split(y, test_size=0.2)
print("X_train", X_train, "X_test", X_test)
print("y_train", y_train, "y_test", y_test)
print('X_train_masked', X_train, X_train.shape, 'y_train_masked',y_train, y_train.shape)
print('X_test_masked', X_test, X_test.shape, 'y_test_masked',y_test, y_test.shape)

X_train            0     1      2   3      4   ...  8      9     10      11     12
259   0.65665  20.0   3.97   0  0.647  ...   5  264.0  13.0  391.93   6.90
217   0.07013   0.0  13.89   0  0.550  ...   5  276.0  16.4  392.78   9.69
449   7.52601   0.0  18.10   0  0.713  ...  24  666.0  20.2  304.21  19.31
342   0.02498   0.0   1.89   0  0.518  ...   1  422.0  15.9  389.96   8.65
245   0.19133  22.0   5.86   0  0.431  ...   7  330.0  19.1  389.13  18.46
..        ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
139   0.54452   0.0  21.89   0  0.624  ...   4  437.0  21.2  396.90  18.46
459   6.80117   0.0  18.10   0  0.713  ...  24  666.0  20.2  396.90  14.70
208   0.13587   0.0  10.59   1  0.489  ...   4  277.0  18.6  381.32  14.66
478  10.23300   0.0  18.10   0  0.614  ...  24  666.0  20.2  379.70  18.03
6     0.08829  12.5   7.87   0  0.524  ...   5  311.0  15.2  395.60  12.43

[351 rows x 13 columns] X_test            0     1      2   3      4   ...  8      9     10      11     12
360   4.54192   0.0  18.10   0  0.770  ...  24  666.0  20.2  374.56   7.79
127   0.25915   0.0  21.89   0  0.624  ...   4  437.0  21.2  392.11  17.19
231   0.46296   0.0   6.20   0  0.504  ...   8  307.0  17.4  376.14   5.25
128   0.32543   0.0  21.89   0  0.624  ...   4  437.0  21.2  396.90  15.39
465   3.16360   0.0  18.10   0  0.655  ...  24  666.0  20.2  334.40  14.13
..        ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
264   0.55007  20.0   3.97   0  0.647  ...   5  264.0  13.0  387.89   8.10
456   4.66883   0.0  18.10   0  0.713  ...  24  666.0  20.2   10.48  19.01
52    0.05360  21.0   5.64   0  0.439  ...   4  243.0  16.8  396.90   5.28
379  17.86670   0.0  18.10   0  0.671  ...  24  666.0  20.2  393.74  21.78
183   0.10008   0.0   2.46   0  0.488  ...   3  193.0  17.8  396.90   5.68

[88 rows x 13 columns]
y_train 96     21.4
332    19.4
279    35.1
49     19.4
298    22.5
       ...
316    17.8
205    22.6
504    22.0
98     43.8
385     7.2
Name: 13, Length: 351, dtype: float64 y_test 56     24.7
74     24.1
273    35.2
271    25.2
57     31.6
       ...
243    23.7
15     19.9
280    45.4
190    37.0
97     38.7
Name: 13, Length: 88, dtype: float64
X_train_masked            0     1      2   3      4   ...  8      9     10      11     12
259   0.65665  20.0   3.97   0  0.647  ...   5  264.0  13.0  391.93   6.90
217   0.07013   0.0  13.89   0  0.550  ...   5  276.0  16.4  392.78   9.69
449   7.52601   0.0  18.10   0  0.713  ...  24  666.0  20.2  304.21  19.31
342   0.02498   0.0   1.89   0  0.518  ...   1  422.0  15.9  389.96   8.65
245   0.19133  22.0   5.86   0  0.431  ...   7  330.0  19.1  389.13  18.46
..        ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
139   0.54452   0.0  21.89   0  0.624  ...   4  437.0  21.2  396.90  18.46
459   6.80117   0.0  18.10   0  0.713  ...  24  666.0  20.2  396.90  14.70
208   0.13587   0.0  10.59   1  0.489  ...   4  277.0  18.6  381.32  14.66
478  10.23300   0.0  18.10   0  0.614  ...  24  666.0  20.2  379.70  18.03
6     0.08829  12.5   7.87   0  0.524  ...   5  311.0  15.2  395.60  12.43

[351 rows x 13 columns] (351, 13) y_train_masked 96     21.4
332    19.4
279    35.1
49     19.4
298    22.5
       ...
316    17.8
205    22.6
504    22.0
98     43.8
385     7.2
Name: 13, Length: 351, dtype: float64 (351,)
X_test_masked            0     1      2   3      4   ...  8      9     10      11     12
360   4.54192   0.0  18.10   0  0.770  ...  24  666.0  20.2  374.56   7.79
127   0.25915   0.0  21.89   0  0.624  ...   4  437.0  21.2  392.11  17.19
231   0.46296   0.0   6.20   0  0.504  ...   8  307.0  17.4  376.14   5.25
128   0.32543   0.0  21.89   0  0.624  ...   4  437.0  21.2  396.90  15.39
465   3.16360   0.0  18.10   0  0.655  ...  24  666.0  20.2  334.40  14.13
..        ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
264   0.55007  20.0   3.97   0  0.647  ...   5  264.0  13.0  387.89   8.10
456   4.66883   0.0  18.10   0  0.713  ...  24  666.0  20.2   10.48  19.01
52    0.05360  21.0   5.64   0  0.439  ...   4  243.0  16.8  396.90   5.28
379  17.86670   0.0  18.10   0  0.671  ...  24  666.0  20.2  393.74  21.78
183   0.10008   0.0   2.46   0  0.488  ...   3  193.0  17.8  396.90   5.68

[88 rows x 13 columns] (88, 13) y_test_masked 56     24.7
74     24.1
273    35.2
271    25.2
57     31.6
       ...
243    23.7
15     19.9
280    45.4
190    37.0
97     38.7
Name: 13, Length: 88, dtype: float64 (88,)

In [5]:
lr = LinearRegression().fit(X_train,y_train)
print(lr)
print(lr.score(X_train, y_train), lr.coef_, lr.intercept_)
y_pred = lr.predict(X_test)
print(y_pred, y_pred.shape)

from sklearn.metrics import mean_absolute_error
print('mae', mean_absolute_error(y_test,y_pred))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
0.027178793633969578 [-1.34300147e-01  8.99059116e-03 -9.52518976e-02 -2.06514378e+00
 -8.96122076e+00 -4.90781527e-01  1.71027542e-02  6.46599758e-02
  2.04735411e-01 -7.66573525e-03  2.65208106e-02  8.33749330e-04
  1.43915926e-01] 29.20511506207918
[20.27616888 21.28901473 22.76598041 20.71231402 22.03913429 23.52300597
 24.61734709 22.48982955 22.5883072  22.16427095 21.32553618 23.45450897
 22.62544748 22.631306   24.23814854 23.96377274 20.88634653 21.51832104
 22.66556973 24.23074547 22.726566   23.69181466 24.30171481 23.41836974
 21.41932825 22.09902839 24.1025892  18.79292753 24.52119608 19.01516242
 22.33470512 21.01015719 22.48917186 23.07974541 23.89695979 23.76283976
 20.9801178  21.309468   20.57550018 22.77303643 23.76830392 22.58616741
 21.82950761 21.8586524  22.93780653 23.84123453 23.03924017 23.69233618
 23.30000682 22.53614089 23.469422   24.45736332 23.59315377 21.59840876
 23.11908094 21.92170165 23.34247333 24.01364844 23.39166419 22.63597943
 21.77748825 23.43624139 22.66348191 22.48524885 25.16986347 21.93280348
 24.8541349  23.15954907 23.40443787 24.56515432 20.20608349 23.46401197
 23.98031871 24.87369305 26.85627473 22.3707789  23.00906711 25.84876224
 20.93631368 20.79984505 21.62817144 22.58102391 21.37822091 22.12364887
 22.29053397 23.01405909 21.62110319 23.93753732] (88,)
mae 7.775201226619767