<a href="https://colab.research.google.com/github/ulrikSebastienR/2021-Coding-Basic/blob/main/outlier_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html
import pandas as pd
import numpy as np

In [2]:
# Using standard deviation https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html
arr = [10, 386, 479, 627, 20, 523, 482, 483, 542, 699, 535, 617, 577, 471, 615, 583, 441, 562, 563, 527, 453, 530, 433, 541, 585, 704, 443, 569, 430, 637, 331, 511, 552, 496, 484, 566, 554, 472, 335, 440, 579, 341, 545, 615, 548, 604, 439, 556, 442, 461, 624, 611, 444, 578, 405, 487, 490, 496, 398, 512, 422, 455, 449, 432, 607, 679, 434, 597, 639, 565, 415, 486, 668, 414, 665, 763, 557, 304, 404, 454, 689, 610, 483, 441, 657, 590, 492, 476, 437, 483, 529, 363, 711, 543]
import numpy as np
a = [10, 386, 479, 627, 20, 523, 482, 483, 542, 699, 535, 617, 577, 471, 615, 583, 441, 562, 563, 527, 453, 530, 433, 541, 585, 704, 443, 569, 430, 637, 331, 511, 552, 496, 484, 566, 554, 472, 335, 440, 579, 341, 545, 615, 548, 604, 439, 556, 442, 461, 624, 611, 444, 578, 405, 487, 490, 496, 398, 512, 422, 455, 449, 432, 607, 679, 434, 597, 639, 565, 415, 486, 668, 414, 665, 763, 557, 304, 404, 454, 689, 610, 483, 441, 657, 590, 492, 476, 437, 483, 529, 363, 711, 543]
print(len(a),np.min(a),np.max(a),np.mean(a),np.std(a))
outliers = []
ll = np.mean(a)- np.std(a)
ul = np.mean(a)+ np.std(a)
print('lower limit=',ll,'upper limit=',ul)
'''for i in a:
    if i<ll or i>ul:
        outlier = i
        outliers.append(outlier)
        a.remove(outlier)
        #this code is also correct but the lower code is shorter'''
outlier = [i for i in a if i<ll]
#a = a.remove(i for i in a if i<ll)
outlier1 = [i for i in a if i>ul]
outliers = outlier + outlier1
print('outliers',outliers, len(outliers))
a1 = [i for i in a if i not in outliers]
#a1 = [i in a if i not in outliers]
print('array without outliers =', a1, len(a1), np.min(a1), np.max(a1))

94 10 763 509.531914893617 118.51857760182034
lower limit= 391.0133372917967 upper limit= 628.0504924954373
outliers [10, 386, 20, 331, 335, 341, 304, 363, 699, 704, 637, 679, 639, 668, 665, 763, 689, 657, 711] 19
array without outliers = [479, 627, 523, 482, 483, 542, 535, 617, 577, 471, 615, 583, 441, 562, 563, 527, 453, 530, 433, 541, 585, 443, 569, 430, 511, 552, 496, 484, 566, 554, 472, 440, 579, 545, 615, 548, 604, 439, 556, 442, 461, 624, 611, 444, 578, 405, 487, 490, 496, 398, 512, 422, 455, 449, 432, 607, 434, 597, 565, 415, 486, 414, 557, 404, 454, 610, 483, 441, 590, 492, 476, 437, 483, 529, 543] 75 398 627

In [3]:
#https://machinelearningmastery.com/model-based-outlier-detection-and-removal-in-python/
from sklearn.ensemble import IsolationForest
from sklearn import datasets
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LinearRegression

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'

df = pd.read_csv(url, header=None)
print(df.describe())
print(df.values.shape, df.values)

               0           1           2   ...          11          12          13
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]
(506, 14) [[6.3200e-03 1.8000e+01 2.3100e+00 ... 3.9690e+02 4.9800e+00 2.4000e+01]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 3.9690e+02 9.1400e+00 2.1600e+01]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 3.9283e+02 4.0300e+00 3.4700e+01]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 3.9690e+02 5.6400e+00 2.3900e+01]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 3.9345e+02 6.4800e+00 2.2000e+01]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 3.9690e+02 7.8800e+00 1.1900e+01]]

In [4]:
#separating X and y
X = df.iloc[:,:-1]
y = df.iloc[:, -1]
print("X",X,"y",y)

X           0     1      2   3      4   ...  8      9     10      11    12
0    0.00632  18.0   2.31   0  0.538  ...   1  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07   0  0.469  ...   2  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07   0  0.469  ...   2  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18   0  0.458  ...   3  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18   0  0.458  ...   3  222.0  18.7  396.90  5.33
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...   ...
501  0.06263   0.0  11.93   0  0.573  ...   1  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93   0  0.573  ...   1  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  7.88

[506 rows x 13 columns] y 0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: 13, Length: 506, dtype: float64

In [5]:
#removing outliers
iso = IsolationForest()
yhat = iso.fit_predict(X)
print(yhat)
#yhat = -1 are outliers
#remove all rows that are not outliers
mask = yhat != -1
print(mask)
#df = df[mask]
X, y = X.loc[mask,:], y.loc[mask]
print('X_masked', X, X.shape, 'y_masked',y, y.shape)

[ 1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1 -1 -1 -1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1 -1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1
 -1 -1 -1 -1 -1 -1  1 -1 -1 -1 -1 -1 -1  1  1 -1 -1  1 -1 -1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1 -1 -1 -1 -1 -1 -1  1 -1 -1 -1  1  1  1  1 -1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1  1 -1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1 -1  1  1 -1  1  1  1  1 -1 -1 -1  1 -1  1
  1  1  1  1  1  1  1  1  1  1 -1 -1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1  1
  1  1  1 -1 -1  1  1 -1  1 -1 -1  1 -1  1 -1  1  1  1  1  1 -1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1 -1 -1 -1  1 -1  1  1  1 -1  1  1  1  1  1 -1  1 -1 -1  1  1  1  1
  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1 -1 -1 -1 -1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1]
[ True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False False False False  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True False False False
 False False False False False False  True False False False False False
 False  True  True False False  True False False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False  True False False
 False  True  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True False False False  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True False  True  True  True  True False False False  True False  True
  True  True  True  True  True  True  True  True  True  True False False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False  True
  True  True  True False False  True  True False  True False False  True
 False  True False  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True False False False  True False  True  True  True False  True
  True  True  True  True False  True False False  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False False False False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True]
X_masked           0     1      2   3      4   ...  8      9     10      11    12
0    0.00632  18.0   2.31   0  0.538  ...   1  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07   0  0.469  ...   2  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07   0  0.469  ...   2  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18   0  0.458  ...   3  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18   0  0.458  ...   3  222.0  18.7  396.90  5.33
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...   ...
501  0.06263   0.0  11.93   0  0.573  ...   1  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93   0  0.573  ...   1  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  7.88

[428 rows x 13 columns] (428, 13) y_masked 0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: 13, Length: 428, dtype: float64 (428,)

In [6]:
#train_test_split
X_train, X_test = train_test_split(X, test_size=0.2)
y_train, y_test = train_test_split(y, test_size=0.2)
print("X_train", X_train, "X_test", X_test)
print("y_train", y_train, "y_test", y_test)
print('X_train_masked', X_train, X_train.shape, 'y_train_masked',y_train, y_train.shape)
print('X_test_masked', X_test, X_test.shape, 'y_test_masked',y_test, y_test.shape)

X_train           0     1      2   3      4   ...  8      9     10      11     12
131  1.19294   0.0  21.89   0  0.624  ...   4  437.0  21.2  396.90  12.26
267  0.57834  20.0   3.97   0  0.575  ...   5  264.0  13.0  384.54   7.44
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90   7.88
272  0.11460  20.0   6.96   0  0.464  ...   3  223.0  18.6  394.96   7.73
252  0.08221  22.0   5.86   0  0.431  ...   7  330.0  19.1  386.09   3.53
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
305  0.05479  33.0   2.18   0  0.472  ...   7  222.0  18.4  393.36   8.93
243  0.12757  30.0   4.93   0  0.428  ...   6  300.0  16.6  374.71   5.19
273  0.22188  20.0   6.96   1  0.464  ...   3  223.0  18.6  390.77   6.58
278  0.07978  40.0   6.41   0  0.447  ...   4  254.0  17.6  396.90   7.19
262  0.52014  20.0   3.97   0  0.647  ...   5  264.0  13.0  386.86   5.91

[342 rows x 13 columns] X_test           0     1      2   3      4   ...  8      9     10      11     12
276  0.10469  40.0   6.41   1  0.447  ...   4  254.0  17.6  389.25   6.05
289  0.04297  52.5   5.32   0  0.405  ...   6  293.0  16.6  371.72   9.51
323  0.28392   0.0   7.38   0  0.493  ...   5  287.0  19.6  391.13  11.74
481  5.70818   0.0  18.10   0  0.532  ...  24  666.0  20.2  393.07   7.74
498  0.23912   0.0   9.69   0  0.585  ...   6  391.0  19.2  396.90  12.92
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
318  0.40202   0.0   9.90   0  0.544  ...   4  304.0  18.4  395.21  10.36
75   0.09512   0.0  12.83   0  0.437  ...   5  398.0  18.7  383.23   8.94
107  0.13117   0.0   8.56   0  0.520  ...   5  384.0  20.9  387.69  14.09
455  4.75237   0.0  18.10   0  0.713  ...  24  666.0  20.2   50.92  18.13
324  0.34109   0.0   7.38   0  0.493  ...   5  287.0  19.6  396.90   6.12

[86 rows x 13 columns]
y_train 114    18.5
276    33.2
366    21.9
452    16.1
95     28.4
       ...
125    21.4
59     19.6
107    20.4
479    21.4
168    23.8
Name: 13, Length: 342, dtype: float64 y_test 377    13.3
401     7.2
185    29.6
28     18.4
242    22.2
       ...
23     14.5
249    26.2
21     19.6
231    31.7
53     23.4
Name: 13, Length: 86, dtype: float64
X_train_masked           0     1      2   3      4   ...  8      9     10      11     12
131  1.19294   0.0  21.89   0  0.624  ...   4  437.0  21.2  396.90  12.26
267  0.57834  20.0   3.97   0  0.575  ...   5  264.0  13.0  384.54   7.44
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90   7.88
272  0.11460  20.0   6.96   0  0.464  ...   3  223.0  18.6  394.96   7.73
252  0.08221  22.0   5.86   0  0.431  ...   7  330.0  19.1  386.09   3.53
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
305  0.05479  33.0   2.18   0  0.472  ...   7  222.0  18.4  393.36   8.93
243  0.12757  30.0   4.93   0  0.428  ...   6  300.0  16.6  374.71   5.19
273  0.22188  20.0   6.96   1  0.464  ...   3  223.0  18.6  390.77   6.58
278  0.07978  40.0   6.41   0  0.447  ...   4  254.0  17.6  396.90   7.19
262  0.52014  20.0   3.97   0  0.647  ...   5  264.0  13.0  386.86   5.91

[342 rows x 13 columns] (342, 13) y_train_masked 114    18.5
276    33.2
366    21.9
452    16.1
95     28.4
       ...
125    21.4
59     19.6
107    20.4
479    21.4
168    23.8
Name: 13, Length: 342, dtype: float64 (342,)
X_test_masked           0     1      2   3      4   ...  8      9     10      11     12
276  0.10469  40.0   6.41   1  0.447  ...   4  254.0  17.6  389.25   6.05
289  0.04297  52.5   5.32   0  0.405  ...   6  293.0  16.6  371.72   9.51
323  0.28392   0.0   7.38   0  0.493  ...   5  287.0  19.6  391.13  11.74
481  5.70818   0.0  18.10   0  0.532  ...  24  666.0  20.2  393.07   7.74
498  0.23912   0.0   9.69   0  0.585  ...   6  391.0  19.2  396.90  12.92
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...    ...
318  0.40202   0.0   9.90   0  0.544  ...   4  304.0  18.4  395.21  10.36
75   0.09512   0.0  12.83   0  0.437  ...   5  398.0  18.7  383.23   8.94
107  0.13117   0.0   8.56   0  0.520  ...   5  384.0  20.9  387.69  14.09
455  4.75237   0.0  18.10   0  0.713  ...  24  666.0  20.2   50.92  18.13
324  0.34109   0.0   7.38   0  0.493  ...   5  287.0  19.6  396.90   6.12

[86 rows x 13 columns] (86, 13) y_test_masked 377    13.3
401     7.2
185    29.6
28     18.4
242    22.2
       ...
23     14.5
249    26.2
21     19.6
231    31.7
53     23.4
Name: 13, Length: 86, dtype: float64 (86,)

In [7]:
lr = LinearRegression().fit(X_train,y_train)
print(lr)
print(lr.score(X_train, y_train), lr.coef_, lr.intercept_)
y_pred = lr.predict(X_test)
print(y_pred, y_pred.shape)

from sklearn.metrics import mean_absolute_error
print('mae', mean_absolute_error(y_test,y_pred))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
0.025248170683605634 [ 1.07003493e-01 -7.51268513e-03 -1.60582798e-01  1.20290777e+00
 -1.44115145e+01  1.87432724e-02  3.57261856e-02 -3.62322308e-02
 -9.95586248e-02  8.79403783e-03 -2.42068562e-01 -6.76932023e-03
 -6.11109309e-02] 34.58235190367629
[24.30837665 23.04113731 22.82956621 22.74518815 21.69670812 23.189694
 20.51313916 23.60579706 23.80029217 21.56578678 24.49789424 24.71825413
 21.17508866 20.18185599 22.48551276 24.08220621 23.02996237 23.43719722
 20.63858232 23.18155221 19.81088926 21.28998273 27.15120053 22.35459079
 24.77783685 21.84745173 23.77078279 22.85504606 22.58015424 23.26625262
 20.93690715 18.5375003  24.62172718 22.41425114 20.50967244 21.08783527
 21.75071542 24.36645569 20.90999931 22.63217998 21.46718835 21.81004884
 23.42933757 24.13262856 22.26795331 23.04280781 22.11788308 18.69778355
 22.3625862  24.03555478 20.79752652 23.66511187 20.37951185 23.23058077
 20.79524457 22.24894845 22.18611697 21.97758893 21.06854907 23.64732006
 20.17239839 20.3008549  20.93835271 19.74409514 21.2541229  22.72613967
 20.94670697 20.89127692 24.74672703 22.97025646 23.33674935 24.27159126
 21.90497049 25.67245868 21.17786206 22.10641869 22.97782791 23.89336245
 22.3572393  21.94349823 22.92771512 22.10084391 23.13179377 23.1440567
 22.15827634 21.931484  ] (86,)
mae 4.891609426974062

In [14]:
#using local outlier factor
from sklearn.neighbors import LocalOutlierFactor
import pandas as pd

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'

df = pd.read_csv(url, header=None)
#separating X and y
X = df.iloc[:,:-1]
y = df.iloc[:, -1]
print("X",X,"y",y)

lof = LocalOutlierFactor()
yhat = lof.fit_predict(X)
print(yhat)

mask = yhat!= -1
print(mask)

X = X.loc[mask,:]
print(X, X.shape)
y = y.loc[mask]
print(y,y.shape)

yr = LinearRegression().fit(X_train,y_train)

X           0     1      2   3      4   ...  8      9     10      11    12
0    0.00632  18.0   2.31   0  0.538  ...   1  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07   0  0.469  ...   2  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07   0  0.469  ...   2  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18   0  0.458  ...   3  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18   0  0.458  ...   3  222.0  18.7  396.90  5.33
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...   ...
501  0.06263   0.0  11.93   0  0.573  ...   1  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93   0  0.573  ...   1  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  7.88

[506 rows x 13 columns] y 0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: 13, Length: 506, dtype: float64
[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1
  1 -1  1 -1  1  1 -1  1 -1 -1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1
 -1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1
  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1
  1 -1 -1  1  1  1  1  1  1 -1  1 -1 -1  1  1  1  1  1  1  1  1 -1  1 -1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1
  1  1  1  1 -1 -1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1 -1  1  1
  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1 -1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1
  1  1  1 -1 -1 -1  1 -1 -1 -1 -1 -1 -1  1  1  1  1  1  1  1  1  1  1  1
  1  1]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True False  True False  True  True False  True False False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True False  True  True  True  True  True  True  True  True  True
  True False False  True  True  True  True  True  True False  True False
 False  True  True  True  True  True  True  True  True False  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True False False  True False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True False  True  True  True  True  True  True False  True  True
  True  True  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True False  True  True  True  True  True  True  True
  True False  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False  True False False False False False
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True]
          0     1      2   3      4   ...  8      9     10      11    12
0    0.00632  18.0   2.31   0  0.538  ...   1  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07   0  0.469  ...   2  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07   0  0.469  ...   2  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18   0  0.458  ...   3  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18   0  0.458  ...   3  222.0  18.7  396.90  5.33
..       ...   ...    ...  ..    ...  ...  ..    ...   ...     ...   ...
501  0.06263   0.0  11.93   0  0.573  ...   1  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93   0  0.573  ...   1  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93   0  0.573  ...   1  273.0  21.0  396.90  7.88

[465 rows x 13 columns] (465, 13)
0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: 13, Length: 465, dtype: float64 (465,)

In [15]:
#using MCD
from sklearn.covariance import elliptic_envelope
import pandas as pd

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'

df = pd.read_csv(url, header=None)
#separating X and y
X = df.iloc[:,:-1]
y = df.iloc[:, -1]
print("X",X,"y",y)

ee =

SyntaxError: ignored