<a href="https://colab.research.google.com/github/ulrikSebastienR/2021-Coding-Basic/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://www.kdnuggets.com/2020/07/easy-guide-data-preprocessing-python.html
#https://machinelearningmastery.com/data-preparation-for-machine-learning-7-day-mini-course/
# For simple imputer we first need to convert DF to array and then array to DF as fit and fit_transform methods only apply on arrays.
# How to simple impute without converting to and from array with df[iloc]
# KNN imputer
# RFE or recursive feature elimination
# Label Encoder
# One Hot Encoder
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv(url) # without passing header and na_values = 'indicator of na values', we might not get the proper missing values by df.isna()
print(df)
print(df.describe())
df.isna().sum()

     2  1   530101  38.50   66  28  ... 2.2 2.3 11300 00000 00000.1 2.4
0    1  1   534817   39.2   88  20  ...   3   2  2208     0       0   2
1    2  1   530334  38.30   40  24  ...   1   2     0     0       0   1
2    1  9  5290409  39.10  164  84  ...   2   1  2208     0       0   1
3    2  1   530255  37.30  104  35  ...   2   2  4300     0       0   2
4    2  1   528355      ?    ?   ?  ...   1   2     0     0       0   2
..  .. ..      ...    ...  ...  ..  ...  ..  ..   ...   ...     ...  ..
294  1  1   533886      ?  120  70  ...   3   2  3205     0       0   2
295  2  1   527702  37.20   72  24  ...   3   1  2208     0       0   1
296  1  1   529386  37.50   72  30  ...   2   1  3205     0       0   2
297  1  1   530612  36.50  100  24  ...   1   1  2208     0       0   1
298  1  1   534618   37.2   40  20  ...   3   2  6112     0       0   2

[299 rows x 28 columns]
               1        530101  ...      00000.1         2.4
count  299.00000  2.990000e+02  ...   299.000000  299.000000
mean     1.64214  1.087748e+06  ...     7.387960    1.668896
std      2.17730  1.532026e+06  ...   127.749768    0.471399
min      1.00000  5.184760e+05  ...     0.000000    1.000000
25%      1.00000  5.289040e+05  ...     0.000000    1.000000
50%      1.00000  5.303100e+05  ...     0.000000    2.000000
75%      1.00000  5.347360e+05  ...     0.000000    2.000000
max      9.00000  5.305629e+06  ...  2209.000000    2.000000

[8 rows x 7 columns]

2          0
1          0
530101     0
38.50      0
66         0
28         0
3          0
3.1        0
?          0
2.1        0
5          0
4          0
4.1        0
?.1        0
?.2        0
?.3        0
3.2        0
5.1        0
45.00      0
8.40       0
?.4        0
?.5        0
2.2        0
2.3        0
11300      0
00000      0
00000.1    0
2.4        0
dtype: int64

In [3]:
df = pd.read_csv(url,header=None, na_values='?') #Using na_values = '?' automatically fills the na_values with NaN and header = None stops header to be computed from data columns.
print(df)
print(df.describe()) # In df.describe if the row 'min' has values 0 that means there might be missing values.
print(df.isna().sum())

      0   1        2     3      4     5    6   ...   21   22  23     24  25  26  27
0    2.0   1   530101  38.5   66.0  28.0  3.0  ...  NaN  2.0   2  11300   0   0   2
1    1.0   1   534817  39.2   88.0  20.0  NaN  ...  2.0  3.0   2   2208   0   0   2
2    2.0   1   530334  38.3   40.0  24.0  1.0  ...  NaN  1.0   2      0   0   0   1
3    1.0   9  5290409  39.1  164.0  84.0  4.0  ...  5.3  2.0   1   2208   0   0   1
4    2.0   1   530255  37.3  104.0  35.0  NaN  ...  NaN  2.0   2   4300   0   0   2
..   ...  ..      ...   ...    ...   ...  ...  ...  ...  ...  ..    ...  ..  ..  ..
295  1.0   1   533886   NaN  120.0  70.0  4.0  ...  NaN  3.0   2   3205   0   0   2
296  2.0   1   527702  37.2   72.0  24.0  3.0  ...  3.3  3.0   1   2208   0   0   1
297  1.0   1   529386  37.5   72.0  30.0  4.0  ...  NaN  2.0   1   3205   0   0   2
298  1.0   1   530612  36.5  100.0  24.0  3.0  ...  3.4  1.0   1   2208   0   0   1
299  1.0   1   534618  37.2   40.0  20.0  NaN  ...  1.0  3.0   2   6112   0   0   2

[300 rows x 28 columns]
               0           1   ...           26          27
count  299.000000  300.000000  ...   300.000000  300.000000
mean     1.397993    1.640000  ...     7.363333    1.670000
std      0.490305    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 28 columns]
0       1
1       0
2       0
3      60
4      24
5      58
6      56
7      69
8      47
9      32
10     55
11     44
12     56
13    104
14    106
15    247
16    102
17    118
18     29
19     33
20    165
21    198
22      1
23      0
24      0
25      0
26      0
27      0
dtype: int64

In [4]:
import numpy as np
df_array = df.to_numpy() # To Convert to array
print(df_array, df_array.shape)
# For simple imputer we first need to convert DF to array and then array to DF as fit and fit_transform methods only apply on arrays.

[[2.00000e+00 1.00000e+00 5.30101e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [1.00000e+00 1.00000e+00 5.34817e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [2.00000e+00 1.00000e+00 5.30334e+05 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 ...
 [1.00000e+00 1.00000e+00 5.29386e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [1.00000e+00 1.00000e+00 5.30612e+05 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 [1.00000e+00 1.00000e+00 5.34618e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]] (300, 28)

In [5]:
impute = SimpleImputer()
X = impute.fit_transform(df_array)
print(X)
df = pd.DataFrame(X) # A DataFrame can directly be constructed from an array.
print(df)
print(df.describe())
print(df.isna().sum())

[[2.00000e+00 1.00000e+00 5.30101e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [1.00000e+00 1.00000e+00 5.34817e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [2.00000e+00 1.00000e+00 5.30334e+05 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 ...
 [1.00000e+00 1.00000e+00 5.29386e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [1.00000e+00 1.00000e+00 5.30612e+05 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 [1.00000e+00 1.00000e+00 5.34618e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]]
      0    1          2          3      4   ...   23       24   25   26   27
0    2.0  1.0   530101.0  38.500000   66.0  ...  2.0  11300.0  0.0  0.0  2.0
1    1.0  1.0   534817.0  39.200000   88.0  ...  2.0   2208.0  0.0  0.0  2.0
2    2.0  1.0   530334.0  38.300000   40.0  ...  2.0      0.0  0.0  0.0  1.0
3    1.0  9.0  5290409.0  39.100000  164.0  ...  1.0   2208.0  0.0  0.0  1.0
4    2.0  1.0   530255.0  37.300000  104.0  ...  2.0   4300.0  0.0  0.0  2.0
..   ...  ...        ...        ...    ...  ...  ...      ...  ...  ...  ...
295  1.0  1.0   533886.0  38.167917  120.0  ...  2.0   3205.0  0.0  0.0  2.0
296  2.0  1.0   527702.0  37.200000   72.0  ...  1.0   2208.0  0.0  0.0  1.0
297  1.0  1.0   529386.0  37.500000   72.0  ...  1.0   3205.0  0.0  0.0  2.0
298  1.0  1.0   530612.0  36.500000  100.0  ...  1.0   2208.0  0.0  0.0  1.0
299  1.0  1.0   534618.0  37.200000   40.0  ...  2.0   6112.0  0.0  0.0  2.0

[300 rows x 28 columns]
               0           1   ...           26          27
count  300.000000  300.000000  ...   300.000000  300.000000
mean     1.397993    1.640000  ...     7.363333    1.670000
std      0.489484    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 28 columns]
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
dtype: int64

In [6]:
# Alternative method https://datascience.stackexchange.com/questions/51890/how-to-use-simpleimputer-class-to-replace-missing-values-with-mean-values-using

In [7]:
df1 = pd.read_csv(url,header=None, na_values='?')
print(df1)
print(df1.describe()) # In df.describe if the row 'min' has values 0 that means there might be missing values.
print(df1.isna().sum())

      0   1        2     3      4     5    6   ...   21   22  23     24  25  26  27
0    2.0   1   530101  38.5   66.0  28.0  3.0  ...  NaN  2.0   2  11300   0   0   2
1    1.0   1   534817  39.2   88.0  20.0  NaN  ...  2.0  3.0   2   2208   0   0   2
2    2.0   1   530334  38.3   40.0  24.0  1.0  ...  NaN  1.0   2      0   0   0   1
3    1.0   9  5290409  39.1  164.0  84.0  4.0  ...  5.3  2.0   1   2208   0   0   1
4    2.0   1   530255  37.3  104.0  35.0  NaN  ...  NaN  2.0   2   4300   0   0   2
..   ...  ..      ...   ...    ...   ...  ...  ...  ...  ...  ..    ...  ..  ..  ..
295  1.0   1   533886   NaN  120.0  70.0  4.0  ...  NaN  3.0   2   3205   0   0   2
296  2.0   1   527702  37.2   72.0  24.0  3.0  ...  3.3  3.0   1   2208   0   0   1
297  1.0   1   529386  37.5   72.0  30.0  4.0  ...  NaN  2.0   1   3205   0   0   2
298  1.0   1   530612  36.5  100.0  24.0  3.0  ...  3.4  1.0   1   2208   0   0   1
299  1.0   1   534618  37.2   40.0  20.0  NaN  ...  1.0  3.0   2   6112   0   0   2

[300 rows x 28 columns]
               0           1   ...           26          27
count  299.000000  300.000000  ...   300.000000  300.000000
mean     1.397993    1.640000  ...     7.363333    1.670000
std      0.490305    2.173972  ...   127.536674    0.470998
min      1.000000    1.000000  ...     0.000000    1.000000
25%      1.000000    1.000000  ...     0.000000    1.000000
50%      1.000000    1.000000  ...     0.000000    2.000000
75%      2.000000    1.000000  ...     0.000000    2.000000
max      2.000000    9.000000  ...  2209.000000    2.000000

[8 rows x 28 columns]
0       1
1       0
2       0
3      60
4      24
5      58
6      56
7      69
8      47
9      32
10     55
11     44
12     56
13    104
14    106
15    247
16    102
17    118
18     29
19     33
20    165
21    198
22      1
23      0
24      0
25      0
26      0
27      0
dtype: int64

In [8]:
#df1 = impute.fit_transform(df1[:,3:21]) # slice isn't working TypeError: '(slice(None, None, None), slice(3, 21, None))' is an invalid key

In [9]:
#df1[:,0:21] TypeError: '(slice(None, None, None), slice(0, 21, None))' is an invalid key

In [10]:
#after using iloc/loc 
print(df1.iloc[:,:22]) # Using index till 22 as the last index is left out so if we use use index till 21, column 21 will be left out.
print(df1.iloc[:,:22])
df1.iloc[:,:22] = impute.fit_transform(df1.iloc[:,:22])
print(df1.iloc[:,:22]) #Note no need of conversion df to and from array.
print(df1.isna().sum(), df1)

      0   1        2     3      4     5   ...   16   17    18    19   20   21
0    2.0   1   530101  38.5   66.0  28.0  ...  3.0  5.0  45.0   8.4  NaN  NaN
1    1.0   1   534817  39.2   88.0  20.0  ...  4.0  2.0  50.0  85.0  2.0  2.0
2    2.0   1   530334  38.3   40.0  24.0  ...  1.0  1.0  33.0   6.7  NaN  NaN
3    1.0   9  5290409  39.1  164.0  84.0  ...  3.0  NaN  48.0   7.2  3.0  5.3
4    2.0   1   530255  37.3  104.0  35.0  ...  NaN  NaN  74.0   7.4  NaN  NaN
..   ...  ..      ...   ...    ...   ...  ...  ...  ...   ...   ...  ...  ...
295  1.0   1   533886   NaN  120.0  70.0  ...  NaN  5.0  55.0  65.0  NaN  NaN
296  2.0   1   527702  37.2   72.0  24.0  ...  4.0  4.0  44.0   NaN  3.0  3.3
297  1.0   1   529386  37.5   72.0  30.0  ...  3.0  5.0  60.0   6.8  NaN  NaN
298  1.0   1   530612  36.5  100.0  24.0  ...  4.0  4.0  50.0   6.0  3.0  3.4
299  1.0   1   534618  37.2   40.0  20.0  ...  4.0  1.0  36.0  62.0  1.0  1.0

[300 rows x 22 columns]
      0   1        2     3      4     5   ...   16   17    18    19   20   21
0    2.0   1   530101  38.5   66.0  28.0  ...  3.0  5.0  45.0   8.4  NaN  NaN
1    1.0   1   534817  39.2   88.0  20.0  ...  4.0  2.0  50.0  85.0  2.0  2.0
2    2.0   1   530334  38.3   40.0  24.0  ...  1.0  1.0  33.0   6.7  NaN  NaN
3    1.0   9  5290409  39.1  164.0  84.0  ...  3.0  NaN  48.0   7.2  3.0  5.3
4    2.0   1   530255  37.3  104.0  35.0  ...  NaN  NaN  74.0   7.4  NaN  NaN
..   ...  ..      ...   ...    ...   ...  ...  ...  ...   ...   ...  ...  ...
295  1.0   1   533886   NaN  120.0  70.0  ...  NaN  5.0  55.0  65.0  NaN  NaN
296  2.0   1   527702  37.2   72.0  24.0  ...  4.0  4.0  44.0   NaN  3.0  3.3
297  1.0   1   529386  37.5   72.0  30.0  ...  3.0  5.0  60.0   6.8  NaN  NaN
298  1.0   1   530612  36.5  100.0  24.0  ...  4.0  4.0  50.0   6.0  3.0  3.4
299  1.0   1   534618  37.2   40.0  20.0  ...  4.0  1.0  36.0  62.0  1.0  1.0

[300 rows x 22 columns]
      0    1          2          3   ...    18         19        20        21
0    2.0  1.0   530101.0  38.500000  ...  45.0   8.400000  2.037037  3.019608
1    1.0  1.0   534817.0  39.200000  ...  50.0  85.000000  2.000000  2.000000
2    2.0  1.0   530334.0  38.300000  ...  33.0   6.700000  2.037037  3.019608
3    1.0  9.0  5290409.0  39.100000  ...  48.0   7.200000  3.000000  5.300000
4    2.0  1.0   530255.0  37.300000  ...  74.0   7.400000  2.037037  3.019608
..   ...  ...        ...        ...  ...   ...        ...       ...       ...
295  1.0  1.0   533886.0  38.167917  ...  55.0  65.000000  2.037037  3.019608
296  2.0  1.0   527702.0  37.200000  ...  44.0  24.456929  3.000000  3.300000
297  1.0  1.0   529386.0  37.500000  ...  60.0   6.800000  2.037037  3.019608
298  1.0  1.0   530612.0  36.500000  ...  50.0   6.000000  3.000000  3.400000
299  1.0  1.0   534618.0  37.200000  ...  36.0  62.000000  1.000000  1.000000

[300 rows x 22 columns]
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    1
23    0
24    0
25    0
26    0
27    0
dtype: int64       0    1          2          3      4     5   ...   22  23     24  25  26  27
0    2.0  1.0   530101.0  38.500000   66.0  28.0  ...  2.0   2  11300   0   0   2
1    1.0  1.0   534817.0  39.200000   88.0  20.0  ...  3.0   2   2208   0   0   2
2    2.0  1.0   530334.0  38.300000   40.0  24.0  ...  1.0   2      0   0   0   1
3    1.0  9.0  5290409.0  39.100000  164.0  84.0  ...  2.0   1   2208   0   0   1
4    2.0  1.0   530255.0  37.300000  104.0  35.0  ...  2.0   2   4300   0   0   2
..   ...  ...        ...        ...    ...   ...  ...  ...  ..    ...  ..  ..  ..
295  1.0  1.0   533886.0  38.167917  120.0  70.0  ...  3.0   2   3205   0   0   2
296  2.0  1.0   527702.0  37.200000   72.0  24.0  ...  3.0   1   2208   0   0   1
297  1.0  1.0   529386.0  37.500000   72.0  30.0  ...  2.0   1   3205   0   0   2
298  1.0  1.0   530612.0  36.500000  100.0  24.0  ...  1.0   1   2208   0   0   1
299  1.0  1.0   534618.0  37.200000   40.0  20.0  ...  3.0   2   6112   0   0   2

[300 rows x 28 columns]

In [11]:
#KNN Imputer 
from sklearn.impute import KNNImputer
df = pd.read_csv(url, na_values='?', header= None)
knnimputer = KNNImputer()

In [12]:
df = knnimputer.fit_transform(df)
print(type(df), df, df.shape)
df = pd.DataFrame(df)
print(type(df),df, df.isna().sum())

<class 'numpy.ndarray'> [[2.00000e+00 1.00000e+00 5.30101e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [1.00000e+00 1.00000e+00 5.34817e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [2.00000e+00 1.00000e+00 5.30334e+05 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 ...
 [1.00000e+00 1.00000e+00 5.29386e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]
 [1.00000e+00 1.00000e+00 5.30612e+05 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 [1.00000e+00 1.00000e+00 5.34618e+05 ... 0.00000e+00 0.00000e+00
  2.00000e+00]] (300, 28)
<class 'pandas.core.frame.DataFrame'>       0    1          2      3      4     5   ...   22   23       24   25   26   27
0    2.0  1.0   530101.0  38.50   66.0  28.0  ...  2.0  2.0  11300.0  0.0  0.0  2.0
1    1.0  1.0   534817.0  39.20   88.0  20.0  ...  3.0  2.0   2208.0  0.0  0.0  2.0
2    2.0  1.0   530334.0  38.30   40.0  24.0  ...  1.0  2.0      0.0  0.0  0.0  1.0
3    1.0  9.0  5290409.0  39.10  164.0  84.0  ...  2.0  1.0   2208.0  0.0  0.0  1.0
4    2.0  1.0   530255.0  37.30  104.0  35.0  ...  2.0  2.0   4300.0  0.0  0.0  2.0
..   ...  ...        ...    ...    ...   ...  ...  ...  ...      ...  ...  ...  ...
295  1.0  1.0   533886.0  38.18  120.0  70.0  ...  3.0  2.0   3205.0  0.0  0.0  2.0
296  2.0  1.0   527702.0  37.20   72.0  24.0  ...  3.0  1.0   2208.0  0.0  0.0  1.0
297  1.0  1.0   529386.0  37.50   72.0  30.0  ...  2.0  1.0   3205.0  0.0  0.0  2.0
298  1.0  1.0   530612.0  36.50  100.0  24.0  ...  1.0  1.0   2208.0  0.0  0.0  1.0
299  1.0  1.0   534618.0  37.20   40.0  20.0  ...  3.0  2.0   6112.0  0.0  0.0  2.0

[300 rows x 28 columns] 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
dtype: int64

In [13]:
# RFE or recursive feature elimination
from sklearn.datasets import load_boston
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeRegressor
X, y = load_boston(return_X_y=True)
print(X, type(X), X.shape, '\n', y, type(y), y.shape)
rfe = RFE(DecisionTreeRegressor(),5,step=1)
print(rfe)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]] <class 'numpy.ndarray'> (506, 13)
 [24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9] <class 'numpy.ndarray'> (506,)
RFE(estimator=DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse',
                                    max_depth=None, max_features=None,
                                    max_leaf_nodes=None,
                                    min_impurity_decrease=0.0,
                                    min_impurity_split=None, min_samples_leaf=1,
                                    min_samples_split=2,
                                    min_weight_fraction_leaf=0.0,
                                    presort='deprecated', random_state=None,
                                    splitter='best'),
    n_features_to_select=5, step=1, verbose=0)

In [14]:
selected_by_rfe = rfe.fit_transform(X,y)
print(selected_by_rfe, type(selected_by_rfe), selected_by_rfe.shape)
print(rfe.support_)
print(rfe.ranking_)

[[6.3200e-03 5.3800e-01 6.5750e+00 4.0900e+00 4.9800e+00]
 [2.7310e-02 4.6900e-01 6.4210e+00 4.9671e+00 9.1400e+00]
 [2.7290e-02 4.6900e-01 7.1850e+00 4.9671e+00 4.0300e+00]
 ...
 [6.0760e-02 5.7300e-01 6.9760e+00 2.1675e+00 5.6400e+00]
 [1.0959e-01 5.7300e-01 6.7940e+00 2.3889e+00 6.4800e+00]
 [4.7410e-02 5.7300e-01 6.0300e+00 2.5050e+00 7.8800e+00]] <class 'numpy.ndarray'> (506, 5)
[ True False False False  True  True False  True False False False False
  True]
[1 7 6 8 1 1 3 1 9 2 5 4 1]

In [15]:
print('Prediction by RFE', rfe.predict(X), rfe.predict(X).shape, type(rfe.predict(X)))
print('y', y, y.shape)

Prediction by RFE [24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9] (506,) <class 'numpy.ndarray'>
y [24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9] (506,)

In [16]:
import pandas as pd
boston  = pd.DataFrame(load_boston()['data'], columns=list(load_boston()['feature_names']))
boston['target'] = load_boston()['target']
print(boston)

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...     ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67    22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08    20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64    23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48    22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88    11.9

[506 rows x 14 columns]

In [17]:
boston_rfe = pd.DataFrame(selected_by_rfe)
boston_rfe['old y/target'] = boston['target']
boston_rfe['y predicted by rfe'] = rfe.predict(X)
boston_rfe

           0      1      2       3     4  old y/target  y predicted by rfe
0    0.00632  0.538  6.575  4.0900  4.98          24.0                24.0
1    0.02731  0.469  6.421  4.9671  9.14          21.6                21.6
2    0.02729  0.469  7.185  4.9671  4.03          34.7                34.7
3    0.03237  0.458  6.998  6.0622  2.94          33.4                33.4
4    0.06905  0.458  7.147  6.0622  5.33          36.2                36.2
..       ...    ...    ...     ...   ...           ...                 ...
501  0.06263  0.573  6.593  2.4786  9.67          22.4                22.4
502  0.04527  0.573  6.120  2.2875  9.08          20.6                20.6
503  0.06076  0.573  6.976  2.1675  5.64          23.9                23.9
504  0.10959  0.573  6.794  2.3889  6.48          22.0                22.0
505  0.04741  0.573  6.030  2.5050  7.88          11.9                11.9

[506 rows x 7 columns]

In [18]:
#Label Encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_le = le.fit_transform(boston_rfe['y predicted by rfe'])
print(y_le.shape, type(y_le), y_le)
boston_le = pd.DataFrame(boston_rfe)
boston_le['label encoded y'] = y_le
print(boston_le)

(506,) <class 'numpy.ndarray'> [137 113 196 193 203 165 126 156  64  87  52  87 114 102  80  97 128  73
 100  80  40  94  54  48  57  42  65  50  82 108  32  48  36  35  39  87
  98 108 144 176 197 153 149 144 110  91  98  65  47  92  95 103 146 131
  87 200 144 181 130  94  85  59 119 146 189 132  92 117  72 107 139 114
 125 131 138 111  98 106 110 101 159 136 145 126 136 153 122 119 133 165
 123 117 126 146 104 162 111 211 219 191 157 152  84  91  99  93  93 102
  96  92 114 125  86  85  83  81 110  90 102  91 117 101 103  71  86 111
  58  61  78  46  90  94 127  82  57  79  72  69  37  76  43  47  38  57
  25  41  57  49  76  56 112  94  55  92  68  57  35 213 140 130 155 228
 228 228 124 146 228 135 135 120  72  89 128 133 123 168 129 143 171 207
 212 203 210 186 151 169 228 183 170 197 206 174 204 178 167 228 192 173
 195 197 188 138 215 226 228 123 141 122 141  98 114  91 121 160 134 146
 130 165 112 127 154 114 157 172 221 228 209 181 224 180 140 182 214 225
 166 137 147 180 134 130 117  99 119 134  74  83 140 103 142 150 141 145
 169 216 116 107 220 228 201 172 194 217 227 177 205 125 175 228 218 105
 109 148 141 199 185 183 191 190 167 198 222 200 223 228 184 117  99 129
 120 145 163 208 158 136 114 164 156 101 122 166 145 117 151 190 202 162
 193 161 125 101  60 118  92 113 135  61  76  96 128 108 135 128 102  83
 146 143 127 119  91 123  96  69  92 119 105 109  93  83 104  88  85 187
  64 136 179  73  70 128 142 153 126 138  84 172  80 104  76 114 124 123
 146  97 106  67 116 157 116 128 228 228 228 228 228  41  41  52  42  37
  35  16  17  20  22  29  12   4  18   5  16  23  53 129  15  41  32  35
  30  10   0   2   1   4  28   8  10   0  26 158  70 157  52  70  77  62
   3   4   6  17  12   9  66  45 106  38  24   8  16  20  21  13  48  44
  60  46  24  38  14  11   9  33  18  69  82  56  19  25  51  31  44  34
  38  54  60  76  51  44  32  39  51  98  63  75  93 100 111  97  88  89
  89  99  97  94 129 170  41  37  66  27  49 111 127 134 146 115 104 110
  89 104  54   3   7  40  99 115 142 128  95  81 110  73  67 121 104 136
 117  26]
           0      1      2  ...  old y/target  y predicted by rfe  label encoded y
0    0.00632  0.538  6.575  ...          24.0                24.0              137
1    0.02731  0.469  6.421  ...          21.6                21.6              113
2    0.02729  0.469  7.185  ...          34.7                34.7              196
3    0.03237  0.458  6.998  ...          33.4                33.4              193
4    0.06905  0.458  7.147  ...          36.2                36.2              203
..       ...    ...    ...  ...           ...                 ...              ...
501  0.06263  0.573  6.593  ...          22.4                22.4              121
502  0.04527  0.573  6.120  ...          20.6                20.6              104
503  0.06076  0.573  6.976  ...          23.9                23.9              136
504  0.10959  0.573  6.794  ...          22.0                22.0              117
505  0.04741  0.573  6.030  ...          11.9                11.9               26

[506 rows x 8 columns]

In [19]:
# One Hot Encoder
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
print(ohe)
print(pd.DataFrame(boston_rfe.iloc[:,6]))
s1 = pd.DataFrame(ohe.fit_transform(pd.DataFrame(boston_rfe.iloc[:,6])))
print(type(s1),s1)
boston_ohe = pd.concat([boston_rfe,s1], axis=1)
print(boston_ohe) # C'est Incomplete

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)
     y predicted by rfe
0                  24.0
1                  21.6
2                  34.7
3                  33.4
4                  36.2
..                  ...
501                22.4
502                20.6
503                23.9
504                22.0
505                11.9

[506 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>                    0
0      (0, 137)\t1.0
1      (0, 113)\t1.0
2      (0, 196)\t1.0
3      (0, 193)\t1.0
4      (0, 203)\t1.0
..               ...
501    (0, 121)\t1.0
502    (0, 104)\t1.0
503    (0, 136)\t1.0
504    (0, 117)\t1.0
505     (0, 26)\t1.0

[506 rows x 1 columns]
           0      1  ...  label encoded y                0
0    0.00632  0.538  ...              137    (0, 137)\t1.0
1    0.02731  0.469  ...              113    (0, 113)\t1.0
2    0.02729  0.469  ...              196    (0, 196)\t1.0
3    0.03237  0.458  ...              193    (0, 193)\t1.0
4    0.06905  0.458  ...              203    (0, 203)\t1.0
..       ...    ...  ...              ...              ...
501  0.06263  0.573  ...              121    (0, 121)\t1.0
502  0.04527  0.573  ...              104    (0, 104)\t1.0
503  0.06076  0.573  ...              136    (0, 136)\t1.0
504  0.10959  0.573  ...              117    (0, 117)\t1.0
505  0.04741  0.573  ...               26     (0, 26)\t1.0

[506 rows x 9 columns]

In [20]:
#get dummies
pd.get_dummies(boston_le['old y/target'])

     5.0   5.6   6.3   7.0   7.2   7.4   ...  46.0  46.7  48.3  48.5  48.8  50.0
0       0     0     0     0     0     0  ...     0     0     0     0     0     0
1       0     0     0     0     0     0  ...     0     0     0     0     0     0
2       0     0     0     0     0     0  ...     0     0     0     0     0     0
3       0     0     0     0     0     0  ...     0     0     0     0     0     0
4       0     0     0     0     0     0  ...     0     0     0     0     0     0
..    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
501     0     0     0     0     0     0  ...     0     0     0     0     0     0
502     0     0     0     0     0     0  ...     0     0     0     0     0     0
503     0     0     0     0     0     0  ...     0     0     0     0     0     0
504     0     0     0     0     0     0  ...     0     0     0     0     0     0
505     0     0     0     0     0     0  ...     0     0     0     0     0     0

[506 rows x 229 columns]

In [21]:
pd.get_dummies(boston_le) #need to apply on the categorical variable

           0      1      2  ...  old y/target  y predicted by rfe  label encoded y
0    0.00632  0.538  6.575  ...          24.0                24.0              137
1    0.02731  0.469  6.421  ...          21.6                21.6              113
2    0.02729  0.469  7.185  ...          34.7                34.7              196
3    0.03237  0.458  6.998  ...          33.4                33.4              193
4    0.06905  0.458  7.147  ...          36.2                36.2              203
..       ...    ...    ...  ...           ...                 ...              ...
501  0.06263  0.573  6.593  ...          22.4                22.4              121
502  0.04527  0.573  6.120  ...          20.6                20.6              104
503  0.06076  0.573  6.976  ...          23.9                23.9              136
504  0.10959  0.573  6.794  ...          22.0                22.0              117
505  0.04741  0.573  6.030  ...          11.9                11.9               26

[506 rows x 8 columns]

In [48]:
# one-hot encode the breast cancer dataset
from pandas import read_csv
from sklearn.preprocessing import OneHotEncoder
# define the location of the dataset
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv"
# load the dataset
dataset = read_csv(url, header=None)
# retrieve the array of data
data = dataset.values
# separate into input and output columns
X = data[:, :-1].astype(str)
y = data[:, -1].astype(str)
# summarize the raw data
print(X[:3, :])
# define the one hot encoding transform
encoder = OneHotEncoder(sparse=False)
# fit and apply the transform to the input data
X_oe = encoder.fit_transform(X)
# summarize the transformed data
print(X_oe[:3, :])

[["'40-49'" "'premeno'" "'15-19'" "'0-2'" "'yes'" "'3'" "'right'"
  "'left_up'" "'no'"]
 ["'50-59'" "'ge40'" "'15-19'" "'0-2'" "'no'" "'1'" "'right'" "'central'"
  "'no'"]
 ["'50-59'" "'ge40'" "'35-39'" "'0-2'" "'no'" "'2'" "'left'" "'left_low'"
  "'no'"]]
[[0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0.]
 [0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0.
  0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0.]]

In [34]:
#numerical to categorical binning
from sklearn.preprocessing import KBinsDiscretizer
kbd = KBinsDiscretizer()
#df1_binned = kbd.fit_transform(df1)
boston_df = pd.DataFrame(load_boston()['data'])
print(boston_df)
boston_df = boston_df.iloc[:,9:12]
print(boston_df)
boston_kbd = kbd.fit_transform(boston_df)
print(boston_kbd)

          0     1      2    3      4   ...   8      9     10      11    12
0    0.00632  18.0   2.31  0.0  0.538  ...  1.0  296.0  15.3  396.90  4.98
1    0.02731   0.0   7.07  0.0  0.469  ...  2.0  242.0  17.8  396.90  9.14
2    0.02729   0.0   7.07  0.0  0.469  ...  2.0  242.0  17.8  392.83  4.03
3    0.03237   0.0   2.18  0.0  0.458  ...  3.0  222.0  18.7  394.63  2.94
4    0.06905   0.0   2.18  0.0  0.458  ...  3.0  222.0  18.7  396.90  5.33
..       ...   ...    ...  ...    ...  ...  ...    ...   ...     ...   ...
501  0.06263   0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  391.99  9.67
502  0.04527   0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  396.90  9.08
503  0.06076   0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  396.90  5.64
504  0.10959   0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  393.45  6.48
505  0.04741   0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  396.90  7.88

[506 rows x 13 columns]
        9     10      11
0    296.0  15.3  396.90
1    242.0  17.8  396.90
2    242.0  17.8  392.83
3    222.0  18.7  394.63
4    222.0  18.7  396.90
..     ...   ...     ...
501  273.0  21.0  391.99
502  273.0  21.0  396.90
503  273.0  21.0  396.90
504  273.0  21.0  393.45
505  273.0  21.0  396.90

[506 rows x 3 columns]
  (0, 1)	1.0
  (0, 5)	1.0
  (0, 13)	1.0
  (1, 0)	1.0
  (1, 6)	1.0
  (1, 13)	1.0
  (2, 0)	1.0
  (2, 6)	1.0
  (2, 12)	1.0
  (3, 0)	1.0
  (3, 7)	1.0
  (3, 13)	1.0
  (4, 0)	1.0
  (4, 7)	1.0
  (4, 13)	1.0
  (5, 0)	1.0
  (5, 7)	1.0
  (5, 13)	1.0
  (6, 2)	1.0
  (6, 5)	1.0
  (6, 13)	1.0
  (7, 2)	1.0
  (7, 5)	1.0
  (7, 13)	1.0
  (8, 2)	1.0
  :	:
  (497, 13)	1.0
  (498, 2)	1.0
  (498, 7)	1.0
  (498, 13)	1.0
  (499, 2)	1.0
  (499, 7)	1.0
  (499, 13)	1.0
  (500, 2)	1.0
  (500, 7)	1.0
  (500, 13)	1.0
  (501, 1)	1.0
  (501, 9)	1.0
  (501, 12)	1.0
  (502, 1)	1.0
  (502, 9)	1.0
  (502, 13)	1.0
  (503, 1)	1.0
  (503, 9)	1.0
  (503, 13)	1.0
  (504, 1)	1.0
  (504, 9)	1.0
  (504, 12)	1.0
  (505, 1)	1.0
  (505, 9)	1.0
  (505, 13)	1.0

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 2 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [45]:
print(df)
df4kbd = df.iloc[:5,[18,24]]
print(df4kbd)
kbd_binned = kbd.fit_transform(df4kbd)
print(kbd_binned)
import scipy
print(scipy.sparse.csr_matrix.toarray(kbd_binned))

      0    1          2      3      4     5   ...   22   23       24   25   26   27
0    2.0  1.0   530101.0  38.50   66.0  28.0  ...  2.0  2.0  11300.0  0.0  0.0  2.0
1    1.0  1.0   534817.0  39.20   88.0  20.0  ...  3.0  2.0   2208.0  0.0  0.0  2.0
2    2.0  1.0   530334.0  38.30   40.0  24.0  ...  1.0  2.0      0.0  0.0  0.0  1.0
3    1.0  9.0  5290409.0  39.10  164.0  84.0  ...  2.0  1.0   2208.0  0.0  0.0  1.0
4    2.0  1.0   530255.0  37.30  104.0  35.0  ...  2.0  2.0   4300.0  0.0  0.0  2.0
..   ...  ...        ...    ...    ...   ...  ...  ...  ...      ...  ...  ...  ...
295  1.0  1.0   533886.0  38.18  120.0  70.0  ...  3.0  2.0   3205.0  0.0  0.0  2.0
296  2.0  1.0   527702.0  37.20   72.0  24.0  ...  3.0  1.0   2208.0  0.0  0.0  1.0
297  1.0  1.0   529386.0  37.50   72.0  30.0  ...  2.0  1.0   3205.0  0.0  0.0  2.0
298  1.0  1.0   530612.0  36.50  100.0  24.0  ...  1.0  1.0   2208.0  0.0  0.0  1.0
299  1.0  1.0   534618.0  37.20   40.0  20.0  ...  3.0  2.0   6112.0  0.0  0.0  2.0

[300 rows x 28 columns]
     18       24
0  45.0  11300.0
1  50.0   2208.0
2  33.0      0.0
3  48.0   2208.0
4  74.0   4300.0
  (0, 1)	1.0
  (0, 9)	1.0
  (1, 3)	1.0
  (1, 7)	1.0
  (2, 0)	1.0
  (2, 5)	1.0
  (3, 2)	1.0
  (3, 7)	1.0
  (4, 4)	1.0
  (4, 8)	1.0
[[0. 1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 1. 0.]]

In [47]:
kbd1 = KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='uniform') #ordinal and uniform are not API's original choices and we need to define these separately.
df_binned1 = kbd1.fit_transform(df4kbd)
print(df_binned1)

[[2. 9.]
 [4. 1.]
 [0. 0.]
 [3. 1.]
 [9. 3.]]

In [51]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
boston_df_mm = minmax.fit_transform(boston_df)
print(boston_df_mm, boston_df_mm.shape)

[[0.20801527 0.28723404 1.        ]
 [0.10496183 0.55319149 1.        ]
 [0.10496183 0.55319149 0.98973725]
 ...
 [0.16412214 0.89361702 1.        ]
 [0.16412214 0.89361702 0.99130062]
 [0.16412214 0.89361702 1.        ]] (506, 3)