<a href="https://colab.research.google.com/github/ulrikSebastienR/2021-Coding-Basic/blob/main/Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Contents: 1. Sort a List

In [2]:
l = [1,34, 43, 53, 12, 342, 5343]
# sort and sorted
#https://www.programiz.com/python-programming/methods/list/sort

In [3]:
print(l.sort())# returns none but actually modifies the list
print(l)

None
[1, 12, 34, 43, 53, 342, 5343]

In [4]:
l = [1,34, 43, 53, 12, 342, 5343]
print(sorted(l)) # returns the new list but does not modify the original list
print(l)

[1, 12, 34, 43, 53, 342, 5343]
[1, 34, 43, 53, 12, 342, 5343]

In [5]:
# reverse order sorting
print(l.sort(reverse=True))
l

None

[5343, 342, 53, 43, 34, 12, 1]

In [6]:
l = [1,34, 43, 53, 12, 342, 5343]
print(sorted(l, reverse= True))
l

[5343, 342, 53, 43, 34, 12, 1]

[1, 34, 43, 53, 12, 342, 5343]

In [7]:
employee = [
    {'name':'Barak Obama', 'age': 58 , 'salary': 200000 },
    {'name':'Dick young', 'age': 32, 'salary': 12000 },
    {'name':'Cheney Senior', 'age': 65 , 'salary': 1200000}
]
print(type(employee))

def getnames(elem):
    return elem['name']

def getage(elem):
    return elem['age']

def salary(elem):
    return elem['salary']

for i in employee:
    print(getnames(i), getage(i), salary(i))

print(sorted(employee, key=getage, reverse=True))
print(employee.sort(key= lambda x: x.get('name')))
print(employee)

<class 'list'>
Barak Obama 58 200000
Dick young 32 12000
Cheney Senior 65 1200000
[{'name': 'Cheney Senior', 'age': 65, 'salary': 1200000}, {'name': 'Barak Obama', 'age': 58, 'salary': 200000}, {'name': 'Dick young', 'age': 32, 'salary': 12000}]
None
[{'name': 'Barak Obama', 'age': 58, 'salary': 200000}, {'name': 'Cheney Senior', 'age': 65, 'salary': 1200000}, {'name': 'Dick young', 'age': 32, 'salary': 12000}]

In [13]:
#sort a dictionary 
orders = {
	'cappuccino': 54,
	'latte': 56,
	'espresso': 72,
	'americano': 48,
	'cortado': 41
}

print(list((key, value) for (key, value) in sorted(orders.items(),key = lambda x: x[0]))) # by keys
print() #by values

[('americano', 48), ('cappuccino', 54), ('cortado', 41), ('espresso', 72), ('latte', 56)]

In [10]:
l = list([1,2, 3, 5,6])
l

[1, 2, 3, 5, 6]