<a href="https://colab.research.google.com/github/ulrikSebastienR/2021-Coding-Basic/blob/main/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://pythonspot.com/python-database-programming-sqlite-tutorial/
import sqlite3 as lite
import sys
import os

print(os.getcwd())

/content

In [2]:
con = lite.connect("user.db") #create a connection object to the database
print(con) #SQLite database connection object

cur = con.cursor() #return a cursor object for the connection
print(cur)

# Install sqlite browser for linux

<sqlite3.Connection object at 0x7f3c82495f10>
<sqlite3.Cursor object at 0x7f3c822fcd50>

In [3]:
with con:

    cur = con.cursor()
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)") #Every sqlite command is executed by cur.execute
    cur.execute("INSERT INTO Users VALUES(1, 'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2, 'Sonya')")
    cur.execute("INSERT INTO Users VALUES(3, 'Greg')") #SQL commands accepts string with single quotes ' ' only
    # Note that this sql file must be deleted after every run otherwise you will end in error
    # table Users already exists

    cur.execute("CREATE TABLE Jobs(Id INT, Uid INT, Profession TEXT)")
    cur.execute("INSERT INTO Jobs VALUES(1,1,'Scientist')")
    cur.execute("INSERT INTO Jobs VALUES(2,2, 'Marketeer')")
    cur.execute("INSERT INTO Jobs VALUES(3,3, 'Developer')")

    cur.execute("SELECT users.name, jobs.profession FROM jobs INNER JOIN users ON users.ID = jobs.uid")
    
    cur.execute("SELECT * FROM Users") # executing queries through Python
    cur.execute("SELECT * FROM Jobs")

    rows = cur.fetchall()
    print(rows)

    for row in rows:
        print(row)

[(1, 1, 'Scientist'), (2, 2, 'Marketeer'), (3, 3, 'Developer')]
(1, 1, 'Scientist')
(2, 2, 'Marketeer')
(3, 3, 'Developer')