<a href="https://colab.research.google.com/github/ulrikSebastienR/2021-Coding-Basic/blob/main/sqlite3_db_to_pd_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://pythonspot.com/sqlite-database-with-pandas/
import sqlite3 as lite
import sys
import pandas as pd

con = lite.connect('population.db')
cur = con.cursor()

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Population(id INTEGER PRIMARY KEY, country TEXT, population INT)")
    cur.execute("INSERT INTO Population VALUES(NULL, 'Germany', 81197537)")
    cur.execute("INSERT INTO Population VALUES(NULL, 'France', 66415161)")
    cur.execute("INSERT INTO Population VALUES(NULL, 'Spain', 46439864)")
    cur.execute("INSERT INTO Population VALUES(NULL, 'Italy', 60795612)")
    cur.execute("INSERT INTO Population VALUES(NULL, 'Spain', 46439864)")

    cur.execute("SELECT * FROM Population")

    rows = cur.fetchall()
    print(rows)

    for row in rows:
        print(row)

[(1, 'Germany', 81197537), (2, 'France', 66415161), (3, 'Spain', 46439864), (4, 'Italy', 60795612), (5, 'Spain', 46439864)]
(1, 'Germany', 81197537)
(2, 'France', 66415161)
(3, 'Spain', 46439864)
(4, 'Italy', 60795612)
(5, 'Spain', 46439864)
   country
0  Germany
1   France
2    Spain
3    Italy
4    Spain

In [5]:
# turns out one can not directly convert sqlite3 db to pd df and easiest way is to read results of a query.
# https://stackoverflow.com/questions/36028759/how-to-open-and-convert-sqlite-database-to-pandas-dataframe
query = "SELECT country FROM Population WHERE population > 50000;"

df1 = pd.read_sql_query(query,con)
print(df1)
print(type(df1))

   country
0  Germany
1   France
2    Spain
3    Italy
4    Spain
<class 'pandas.core.frame.DataFrame'>

In [9]:
# selecting all columns 
#https://www.sqlitetutorial.net/sqlite-select/
query2 = "SELECT country, population FROM Population;"
              
df2 = pd.read_sql_query(query2, con)
print(df2)
print(type(df2))

   country  population
0  Germany    81197537
1   France    66415161
2    Spain    46439864
3    Italy    60795612
4    Spain    46439864
<class 'pandas.core.frame.DataFrame'>

In [10]:
#or simply THE EASIEST WAY
#https://www.sqlitetutorial.net/sqlite-select/
query2 = "SELECT * FROM Population;"
              
df = pd.read_sql_query(query2, con)
print(df)
print(type(df))

   id  country  population
0   1  Germany    81197537
1   2   France    66415161
2   3    Spain    46439864
3   4    Italy    60795612
4   5    Spain    46439864
<class 'pandas.core.frame.DataFrame'>

In [18]:
#Using sqlalchemy engine
import sqlalchemy

db_name = "population.db"
table_name = "Population"

engine = sqlalchemy.create_engine("sqlite:///%s" % db_name, execution_options={"sqlite_raw_colnames": True})
df3 = pd.read_sql_table(table_name, engine)
print(df3)
print(type(df3))

   id  country  population
0   1  Germany    81197537
1   2   France    66415161
2   3    Spain    46439864
3   4    Italy    60795612
4   5    Spain    46439864
<class 'pandas.core.frame.DataFrame'>

In [2]:
#https://www.dataquest.io/blog/python-pandas-databases/